/*STANDARD SETTING*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

/*UTILITIES*/

.clearfix::after{
    content: " ";
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

/*HEADER*/

.container{
    width: 100%;
    height: 70px;
}

.main-logo{
    float: left;
}

.main-logo img{
    margin-top: 20px;
    margin-left: 25px;
}
.as-left{
    float: left;
}

.as-right{
    float: right;
}

.navbar-sx{
    margin-left: 25px;
    margin-top: 25px;
}

.spaces li{
    display: inline;
    margin-right: 45px;
}

.navbar-dx{
    margin-right: 20px;
    margin-top: 25px;
}

/*JUMBO*/

.banner{
    width: 100%;
    height: 745px;
    background-color: #b4d0e7;
    margin: 0px auto;
    position: relative;
}

.box{
    width: 70%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title{
    text-align: justify;
    font-size: 48px;
    width: 100%;
    height: 230px;
}

.text{
    float: left;
    width: 28%;
    height: 205px;
    margin-top: 45px;
    line-height: 23px;
}

.image{
    float: right;
    position: relative;
    width: 70%;
    height: 475px;
    margin-left: 2%;
    margin-top: 45px;
}

.image img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}