/*STANDARD SETTING*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

/*UTILITIES*/

.clearfix::after{
    content: " ";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.spaces li{
    display: inline;
    margin-right: 45px;
}

.btn-sml{
    background-color: #0061ff;
    color: white;
    padding: 2px;
}

.btn-blue{
    background-color: #0061ff;
    padding: 8px;
    font-size: 18px;
    color: white;
    margin-bottom: 10px;
}

.bord{
    border: 1px solid black;
}

/*HEADER*/

.container{
    width: 100%;
    height: 70px;
    font-size: 32px;
}

.main-logo{
    float: left;
}

.main-logo img{
    margin-top: 20px;
    margin-left: 25px;
}
.as-left{
    float: left;
}

.as-right{
    float: right;
}

.navbar-sx{
    margin-left: 25px;
    margin-top: 25px;
}

.navbar-dx{
    margin-right: 20px;
    margin-top: 25px;
}

/*JUMBO*/

.banner{
    width: 100%;
    height: 745px;
    background-color: #b4d0e7;
    margin: 0px auto;
    position: relative;
    font-size: 32px;
}

.box{
    width: 70%;
    height: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title{
    text-align: justify;
    font-size: 48px;
    width: 100%;
    height: 230px;
}

.text{
    float: left;
    width: 28%;
    height: 205px;
    margin-top: 45px;
    line-height: 23px;
}

.image{
    float: right;
    position: relative;
    width: 70%;
    height: 475px;
    margin-left: 2%;
    margin-top: 45px;
}

.image img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*MAIN*/

/*TITLE*/


.subscription{
    width: 65%;
    position: relative;
    margin-top: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    font-size: 32px;
}

.sub-title{
    position: absolute;
    width: 100%;
}

.sub-title h1{
    font-size: 40px;
    font-weight: 14px;
    margin-bottom: 60px;
}

.choise{
    margin-right: 30px;
}

/*SUB CARD*/

.card{
    width: 65%;
    position: relative;
    margin-top: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    display: inline-block;
}

.card ul{
    list-style: none;
}

.card ul li{
    margin-bottom: 12px;
}

.explain{
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 30px;
}

.plan-1, .plan-2{
    float: left;
    width: 32%;
}

.plan-2{
    margin-left: 2%;
}

.plan-3{
    float: right;
    width: 32%;
}

.card h3{
    text-align: center;
    padding: 8px;
    font-size: 24px;
}

/*BOX DOWN*/

.down-box{
    position: relative;
    width: 100%;
    display: inline-block;
}

.box-down{
    position: absolute;
    width: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 225px;
    border: 1px solid black;
}

.box-down h3{
    text-align: center;
    padding: 8px;
    font-size: 24px;
}

.enterprice{
    margin-left: 30px;
    margin-top: 30px;
    float: left;
}

.team-button{
    float: right;
    margin: 30px 30px;
}

/*PARTNER*/

.partner{
    margin-top: 300px;
    position: relative;
}

.boxed{
    position: absolute;
    width: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
}

.partner-finder{
    float: right;
    width: 44%;
    font-size: 24px;
    text-align: justify;
}

.img-left{
    float: left;
    position: absolute;
    width: 54%;
}

.img-left img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.partner button{
    background-color: #fff;
    padding: 12px;
    font-size: 18px;
    color: #000000;
    margin-bottom: 10px;
}

/*BUSINESS*/

.contenitore-a{
    width: 65%;
    position: relative;
    margin-top: 1000px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    display: inline-block;
}

.contenitore-a div{
    height: 400px;
    float: left;
    width: 32%;
}

.d img{
    width: 100%;
    height: 90%;
}

.contenitore-b{
    width: 65%;
    position: relative;
    margin-top: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    display: inline-block;
}

.contenitore-b div{
    height: 400px;
    float: left;
    width: 32%;
}

.d img{
    width: 100%;
    height: 90%;
}

.other-title{
    width: 65%;
    position: relative;
    margin-top: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
    display: inline-block;
}

/*sponsors*/

.boxer{
    width: 100%;
    height: 800px;
    position: relative;
    margin-top: 400px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
 
}

.side-c{
    float: left;
    border: 1px solid black;
    left: 25%;
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #f5f5f5;
}

.side-c img{
    padding-top: 40px;
    padding-left: 35px;
}

.side-c p{
    width: 65%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.side-c h4{
    position: absolute;
    top: 70%;
    left: 27%;
    transform: translate(-50%, -50%);
}

.side-dx{
    float: right;
    position: absolute;
    width: 25%;
    margin-right: 0px;
}



.side-sx{
    position: absolute;
    float: left;
    width: 25%;
}

.side-sx img{
    position: absolute;
    width: 25%;
}

aside .pic1{
    float: left;
    background-color: brown;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
}

.gage{
    width: 100%;
    height: 800px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#b4d0e7 ;
}

.try{
    position: absolute;
    width: 65%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: burlywood;
    font-size: 32px;
}

.plant{
    float: left;
    width: 50%;
}

.act{
    width: 50%;
    float: right;
}

.act button{
    background-color: #fff;
    color: black;
    margin-top: 35px;
    font-size: 22px;
}

